<div class="row">
  <div class="col-md-4 offset-md-4">
    <mat-card class="mt-4 bg-secondary text-white">
      <mat-card-content>
        <p>Name: {{ prodObj.pname }}</p>
        <p>product Status: {{ prodObj.pstatus }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="editproduct" mat-raised-button color="primary">
          Edit
        </button>
        <button (click)="onRemove(prodObj)" mat-raised-button color="warn">
          Remove
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
