<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card bg-secondary text-white">
      <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="userName">User Name</label>
            <input
              type="text"
              id="userName"
              formControlName="userName"
              class="form-control"
            />
          </div>

          <div class="form-group">
            <label for="userRole">User Role</label>
            <select
              id="userRole"
              class="form-control"
              formControlName="userRole"
            >
              <option value="Admin">Admin</option>
              <option value="Candidate">Candidate</option>
            </select>
          </div>
          <button mat-raised-button color="primary">
            {{ isineditMode ? "Update" : "Add" }} User
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
