<div class="row mt-5">
  <div class="col-md-4 offset-md-2">
    <mat-card class="bg-secondary">
      <mat-card-header class="text-center text-white">
        <p>Click here to go on user page</p>
      </mat-card-header>
      <mat-card-actions class="text-center">
        <button routerLink="/users" mat-fab color="accent">Click</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="bg-secondary">
      <mat-card-header class="text-center text-white">
        <p>Click here to go on product page</p>
      </mat-card-header>
      <mat-card-actions class="text-center">
        <button routerLink="/products" mat-fab color="accent">Click</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
